[features]
resolution = true
skip-lint = false

[programs.localnet]
wager = "ADZLpjwwzK7cCVwKbe5JLPgqynDNXxXyajwKTU1j5gy5"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 30000

[scripts]
test = "npx tsx tests/wager.test.ts"
